### Download the necessary modules

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf

### Import the data in excel file and format them

In [44]:
df_raw =  pd.read_excel('séries_AirLiquide.xlsx')
df_raw

    Unnamed: 0  Div AirLiquide (lissé)  Prix Airliquide  Indice CAC40
0      1987M03                0.305684          11.1670           NaN
1      1987M04                0.306773          11.8679           NaN
2      1987M05                0.307862          11.3422           NaN
3      1987M06                0.308952          11.0714           NaN
4      1987M07                0.310043          10.9918           NaN
..         ...                     ...              ...           ...
392    2019M11                2.465649         118.4500       5761.89
393    2019M12                2.474304         119.6000       5786.74
394    2020M01                2.482985         126.7000       6041.50
395    2020M02                2.491688         131.9000       5832.51
396    2020M03                2.500406         125.0500       5333.52

[397 rows x 4 columns]

In [46]:
df = df_raw
df

    Unnamed: 0  Div AirLiquide (lissé)  Prix Airliquide  Indice CAC40
0      1987M03                0.305684          11.1670           NaN
1      1987M04                0.306773          11.8679           NaN
2      1987M05                0.307862          11.3422           NaN
3      1987M06                0.308952          11.0714           NaN
4      1987M07                0.310043          10.9918           NaN
..         ...                     ...              ...           ...
392    2019M11                2.465649         118.4500       5761.89
393    2019M12                2.474304         119.6000       5786.74
394    2020M01                2.482985         126.7000       6041.50
395    2020M02                2.491688         131.9000       5832.51
396    2020M03                2.500406         125.0500       5333.52

[397 rows x 4 columns]

In [47]:
df['year']=[x.split("M")[0] for x in df['Unnamed: 0']]
df['month']=[x.split("M")[1] for x in df['Unnamed: 0']]
df

,Unnamed: 0,Div AirLiquide (lissé),Prix Airliquide,Indice CAC40,year,month
0,1987M03,0.305684,11.1670,NaN,1987,03
1,1987M04,0.306773,11.8679,NaN,1987,04
2,1987M05,0.307862,11.3422,NaN,1987,05
3,1987M06,0.308952,11.0714,NaN,1987,06
4,1987M07,0.310043,10.9918,NaN,1987,07
...,...,...,...,...,...,...
392,2019M11,2.465649,118.4500,5761.89,2019,11
393,2019M12,2.474304,119.6000,5786.74,2019,12
394,2020M01,2.482985,126.7000,6041.50,2020,01
395,2020M02,2.491688,131.9000,5832.51,2020,02
396,2020M03,2.500406,125.0500,5333.52,2020,03

In [48]:
format_wanted = '%m-%Y'
df['Datetime'] = pd.to_datetime(df['month'] + '-' + df['year'], format=format_wanted)
df = df.set_index(pd.DatetimeIndex(df['Datetime']))
df

,Unnamed: 0,Div AirLiquide (lissé),Prix Airliquide,Indice CAC40,year,month,Datetime
Datetime,,,,,,,
1987-03-01,1987M03,0.305684,11.1670,NaN,1987,03,1987-03-01
1987-04-01,1987M04,0.306773,11.8679,NaN,1987,04,1987-04-01
1987-05-01,1987M05,0.307862,11.3422,NaN,1987,05,1987-05-01
1987-06-01,1987M06,0.308952,11.0714,NaN,1987,06,1987-06-01
1987-07-01,1987M07,0.310043,10.9918,NaN,1987,07,1987-07-01
...,...,...,...,...,...,...,...
2019-11-01,2019M11,2.465649,118.4500,5761.89,2019,11,2019-11-01
2019-12-01,2019M12,2.474304,119.6000,5786.74,2019,12,2019-12-01
2020-01-01,2020M01,2.482985,126.7000,6041.50,2020,01,2020-01-01
2020-02-01,2020M02,2.491688,131.9000,5832.51,2020,02,2020-02-01
2020-03-01,2020M03,2.500406,125.0500,5333.52,2020,03,2020-03-01

In [51]:
df.drop(columns = ["Datetime","year","month","Unnamed: 0"],inplace=True)
df

            Div AirLiquide (lissé)  Prix Airliquide  Indice CAC40
Datetime
1987-03-01                0.305684          11.1670           NaN
1987-04-01                0.306773          11.8679           NaN
1987-05-01                0.307862          11.3422           NaN
1987-06-01                0.308952          11.0714           NaN
1987-07-01                0.310043          10.9918           NaN
...                            ...              ...           ...
2019-11-01                2.465649         118.4500       5761.89
2019-12-01                2.474304         119.6000       5786.74
2020-01-01                2.482985         126.7000       6041.50
2020-02-01                2.491688         131.9000       5832.51
2020-03-01                2.500406         125.0500       5333.52

[397 rows x 3 columns]

In [52]:
df['Dividend'] = df['Div AirLiquide (lissé)']
df['Price'] = df['Prix Airliquide']
df['CAC40_basis_points'] = df['Indice CAC40']
df.drop(columns = ['Div AirLiquide (lissé)','Prix Airliquide','Indice CAC40'],inplace=True)
df

            Dividend     Price  CAC40_basis_points
Datetime
1987-03-01  0.305684   11.1670                 NaN
1987-04-01  0.306773   11.8679                 NaN
1987-05-01  0.307862   11.3422                 NaN
1987-06-01  0.308952   11.0714                 NaN
1987-07-01  0.310043   10.9918                 NaN
...              ...       ...                 ...
2019-11-01  2.465649  118.4500             5761.89
2019-12-01  2.474304  119.6000             5786.74
2020-01-01  2.482985  126.7000             6041.50
2020-02-01  2.491688  131.9000             5832.51
2020-03-01  2.500406  125.0500             5333.52

[397 rows x 3 columns]

### Add to you data table the beta and the french government bond values and format them accordingly

In [53]:
stock ='AI.PA'
ticker = yf.Ticker(stock)
info = ticker.info
beta = info.get('beta')
beta

0.645825

In [54]:
df['Dividend'].rolling(window=12).mean()

Datetime
1987-03-01         NaN
1987-04-01         NaN
1987-05-01         NaN
1987-06-01         NaN
1987-07-01         NaN
                ...
2019-11-01    2.418003
2019-12-01    2.426729
2020-01-01    2.435424
2020-02-01    2.444099
2020-03-01    2.452763
Name: Dividend, Length: 397, dtype: float64

In [55]:
ail = yf.Ticker(stock)

# get all stock info
ail.info

# get historical market data
hist = ail.history(period="1mo")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-06-14 00:00:00+02:00,158.660004,160.279999,158.460007,159.580002,540877,0.0,0.0
2023-06-15 00:00:00+02:00,159.320007,160.479996,158.960007,160.300003,422036,0.0,0.0
2023-06-16 00:00:00+02:00,160.979996,167.940002,160.419998,167.940002,3565448,0.0,0.0
2023-06-19 00:00:00+02:00,164.199997,164.199997,161.039993,161.500000,879316,0.0,0.0
2023-06-20 00:00:00+02:00,160.740005,162.479996,159.919998,161.520004,625302,0.0,0.0
2023-06-21 00:00:00+02:00,161.059998,161.580002,160.160004,160.880005,434659,0.0,0.0
2023-06-22 00:00:00+02:00,160.000000,160.059998,157.720001,160.000000,561140,0.0,0.0
2023-06-23 00:00:00+02:00,159.399994,159.660004,156.979996,158.580002,651475,0.0,0.0
2023-06-26 00:00:00+02:00,158.720001,160.360001,158.119995,159.720001,493814,0.0,0.0
2023-06-27 00:00:00+02:00,160.259995,160.839996,159.000000,160.679993,391005,0.0,0.0
2023-06-28 00:00:00+02:00,161.580002,162.619995,161.179993,162.500000,508578,0.0,0.0
2023-06-29 00:00:00+02:00,162.699997,163.500000,161.779999,163.199997,375236,0.0,0.0
2023-06-30 00:00:00+02:00,163.740005,165.380005,163.339996,164.199997,1177980,0.0,0.0
2023-07-03 00:00:00+02:00,164.000000,164.779999,163.139999,164.419998,467589,0.0,0.0
2023-07-04 00:00:00+02:00,163.699997,164.059998,162.940002,163.300003,564836,0.0,0.0
2023-07-05 00:00:00+02:00,162.699997,162.720001,159.619995,160.539993,793315,0.0,0.0
2023-07-06 00:00:00+02:00,158.000000,158.300003,154.419998,155.039993,1092710,0.0,0.0
2023-07-07 00:00:00+02:00,155.199997,155.919998,153.699997,154.779999,781351,0.0,0.0
2023-07-10 00:00:00+02:00,154.660004,157.160004,154.160004,155.940002,489570,0.0,0.0
2023-07-11 00:00:00+02:00,156.000000,157.199997,155.839996,155.960007,479195,0.0,0.0
2023-07-12 00:00:00+02:00,156.800003,159.000000,156.460007,158.820007,581222,0.0,0.0
2023-07-13 00:00:00+02:00,159.360001,160.919998,158.679993,159.960007,657615,0.0,0.0
2023-07-14 00:00:00+02:00,159.619995,161.220001,159.600006,160.860001,365725,0.0,0.0

In [57]:
sp500 = yf.Ticker('^FCHI')

# get all stock info
sp500.info

# get historical market data
hist = sp500.history(period="1mo")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-06-14 00:00:00+02:00,7290.939941,7358.990234,7288.459961,7328.529785,66153600,0.0,0.0
2023-06-15 00:00:00+02:00,7304.970215,7313.470215,7246.330078,7290.910156,60422800,0.0,0.0
2023-06-16 00:00:00+02:00,7312.069824,7403.879883,7297.729980,7388.649902,170731900,0.0,0.0
2023-06-19 00:00:00+02:00,7353.310059,7362.439941,7302.629883,7314.049805,0,0.0,0.0
2023-06-20 00:00:00+02:00,7303.240234,7322.569824,7281.120117,7294.169922,55853400,0.0,0.0
2023-06-21 00:00:00+02:00,7273.890137,7297.850098,7246.859863,7260.970215,48414000,0.0,0.0
2023-06-22 00:00:00+02:00,7194.259766,7206.890137,7145.060059,7203.279785,53704500,0.0,0.0
2023-06-23 00:00:00+02:00,7165.379883,7193.779785,7128.640137,7163.419922,51938700,0.0,0.0
2023-06-26 00:00:00+02:00,7175.879883,7203.459961,7105.720215,7184.350098,52606600,0.0,0.0
2023-06-27 00:00:00+02:00,7212.830078,7236.209961,7161.720215,7215.580078,49886400,0.0,0.0
2023-06-28 00:00:00+02:00,7250.680176,7292.890137,7250.680176,7286.319824,53588400,0.0,0.0
2023-06-29 00:00:00+02:00,7295.759766,7349.180176,7288.649902,7312.729980,60930900,0.0,0.0
2023-06-30 00:00:00+02:00,7339.890137,7419.359863,7337.279785,7400.060059,0,0.0,0.0
2023-07-03 00:00:00+02:00,7415.169922,7426.600098,7386.700195,7386.700195,46756600,0.0,0.0
2023-07-04 00:00:00+02:00,7390.910156,7401.459961,7368.970215,7369.930176,38120100,0.0,0.0
2023-07-05 00:00:00+02:00,7327.779785,7352.120117,7294.600098,7310.810059,60271900,0.0,0.0
2023-07-06 00:00:00+02:00,7239.899902,7240.200195,7065.259766,7082.290039,83220200,0.0,0.0
2023-07-07 00:00:00+02:00,7098.750000,7151.069824,7052.770020,7111.879883,55691900,0.0,0.0
2023-07-10 00:00:00+02:00,7082.459961,7173.649902,7082.459961,7143.689941,41303800,0.0,0.0
2023-07-11 00:00:00+02:00,7176.180176,7244.959961,7172.140137,7220.009766,43936800,0.0,0.0
2023-07-12 00:00:00+02:00,7241.060059,7348.060059,7231.330078,7333.009766,60353600,0.0,0.0
2023-07-13 00:00:00+02:00,7346.560059,7409.009766,7335.609863,7369.799805,53762900,0.0,0.0
2023-07-14 00:00:00+02:00,7353.919922,7403.149902,7353.919922,7374.540039,38957900,0.0,0.0